[submodule "nuttx"]
	path = nuttx
	url = https://github.com/sangam11a/nuttx.git
	branch = recovered
[submodule "nuttx-apps"]
	path = nuttx-apps
	url = https://github.com/sangam11a/nuttx-apps.git
	branch = recovered
